[submodule "zed_snow_detection"]
	path = zed_snow_detection
	url = https://github.com/iscumd/zed_snow_detection
[submodule "ros_lidar_obstacle_detection"]
	path = ros_lidar_obstacle_detection
	url = https://github.com/iscumd/ros_lidar_obstacle_detection
[submodule "zed_opencv_ros"]
	path = zed_opencv_ros
	url = https://github.com/iscumd/zed_opencv_ros
